body {
background-color: rgb(114, 114, 114);
}

#lienzo{

    width: 600px;
    height: 600px;
    border: 3px black solid;
    background-color: rgb(178, 186, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carainferior{
    width: 217px;
    height: 217px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#mejillaIz{ left: 105px; top: 106px;}
#mejillaDe{ left: 273px;top: 106px;}

.carasuperior{
    width: 127px;
    height: 127px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#ladoIz1{ left: 120px; top: 42px;}
#ladoDe1{ left: 345px;top: 42px;}
#ladoIz2{ left: 274px; top: 20px;}
#ladoDe2{ left: 200px;top: 20px;}


.cuerposuperior{
    width: 217px;
    height: 217px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo1{ left: 83px; top: 297px;}
#cuerpo2{ left: 283px; top: 297px;}

.cuerpomedio{
    width: 152px;
    height: 152px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo3{ left: 36px; top: 448px;}
#cuerpo4{ left: 403px; top: 448px;}

.cuerpoinferior{
    width: 47px;
    height: 47px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo5{ left: 19px; top: 553px;}
#cuerpo6{ left: 530px; top: 553px;}

.basecuerpo{
    background-color:rgb(253, 220, 69);
   position: fixed;  
}
#cuadrado1{ width: 559px; height: 28px;left: 18px; top: 572px;}
#cuadrado2{ width: 363px; height: 128px;left: 99px; top: 444px;}

.ovaloojo{
    width: 15px;
    height: 8px;
    background-color: rgb(207, 138, 157);
    border-radius: 50%;
   position: fixed;  
}
#ovalo1{ left: 170px; top: 131px;}
#ovalo2{ left: 220px; top: 157px;}
#ovalo3{ left: 258px; top: 78px;}
#ovalo4{ left: 316px; top: 78px;}
#ovalo5{ left: 351px; top: 157px;}
#ovalo6{ left: 401px; top: 131px;}


.ojo{
    width: 57px;
    height: 51px;
    background-color: rgb(207, 138, 157);
    border-radius: 50%;
   position: fixed;  
}
#ojo1{ left: 353px; top: 114px;}
#ojo2{ left: 266px; top: 60px;}
#ojo3{ left: 177px; top: 114px;}

.pupilagrande{
    width: 42px;
    height: 42px;
    background-color: rgb(66, 129, 36);
    border-radius: 50%;
   position: fixed;  
}
#grande1{ left: 184px; top: 120px;}
#grande2{ left: 273px; top: 65px;}
#grande3{ left: 360px; top: 120px;}

.pupilamedio{
    width: 30px;
    height: 30px;
    background-color: rgb(168, 231, 138);
    border-radius: 50%;
   position: fixed;  
}
#medio1{ left: 190px; top: 125px;}
#medio2{ left: 279px; top: 71px;}
#medio3{ left: 366px; top: 125px;}

.pupilapeque{
    width: 18px;
    height: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   position: fixed;  
}
#peque1{ left: 196px; top: 131px;}
#peque2{ left: 285px; top: 77px;}
#peque3{ left: 372px; top: 131px;}

.baseboca1{
    width: 211px;
    height: 143px;
    background-color: rgb(79, 95, 121);
    border-radius: 50%;
   position: fixed;  
   left: 189px; top: 250px;
}
#baseboca11{ width: 100px; height: 50px;background-color: rgb(253, 220, 69);left: 255px; top: 245px;}
 

.baselengua{
    width: 180px;
    height: 139px;
    background-color: rgb(215, 109, 137);
    border-radius: 50%;
   position: fixed;  
   left: 203px; top: 330px;
}

.baseboca2{
    width: 175px;
    height: 73px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   position: fixed;  
   left: 208px; top: 321px;
}
.narizbase{
    
    background-color: rgb(197, 211, 150);
    border-radius: 50%;
   position: fixed;  
}
#narizbase1{ width: 76px; height: 76px;left: 192px; top: 193px;}
#narizbase2{ width: 76px; height: 76px;left: 316px; top: 193px;}
#narizbase3{ width: 52px; height: 52px;left: 226px; top: 243px;}
#narizbase4{ width: 52px; height: 52px;left: 306px; top: 243px;}
#narizbase5{ width: 56px; height: 56px;left: 242px; top: 252px;}
#narizbase6{ width: 56px; height: 56px;left: 286px; top: 252px;}
#narizbase7{ width: 50px; height: 50px;left: 330px; top: 210px;}

.curva {
  width: 30px;
  height: 30px;
  background: transparent;
 border-top: 5px solid rgb(255, 255, 255);  
  border-radius: 40px 40px 0 0; 
  border-bottom: none;          
  position: fixed;  
   left: 278px; top: 298px;
}
.curvade {
  width: 20px;
  height: 20px;
  background: transparent;
 border-right: 4px solid white;    
  border-bottom: 4px solid white;   
  border-radius: 0 0 40px 0;        
  position: fixed;  
  left: 395px; 
  top: 277px;
}
.curvaIz {
  width: 20px;
  height: 20px;
  background: transparent;
  border-left: 4px solid white;     
  border-bottom: 4px solid white;   
  border-radius: 0 0 0 40px;        
  position: fixed;  
  left: 170px; 
  top: 277px;
}
.deliniado{
    width: 55px;
    height: 51px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
   position: fixed;  
}
#deliniado1{ left: 168px; top: 115px;}
#deliniado2{ left: 188px; top: 114px;}
#deliniado3{ left: 251px; top: 68px;}
#deliniado4{ left: 278px; top: 68px;}
#deliniado5{ left: 345px; top: 114px;}
#deliniado6{ left: 363px; top: 115px;}

#deliniado7{ left: 137px; top: 200px;}
#deliniado8{ left: 145px; top: 202px;}
#deliniado9{ left: 161px; top: 238px;}
#deliniado10{ left: 173px; top: 236px;}
#deliniado11{ left: 219px; top: 249px;}
#deliniado12{ left: 238px; top: 264px;}

#deliniado13{ left: 293px; top: 263px;}
#deliniado14{ left: 312px; top: 248px;}
#deliniado15{ left: 338px; top: 220px;}
#deliniado16{ left: 371px; top: 215px;}
#deliniado17{ left: 371px; top: 235px;}
#deliniado18{ left: 382px; top: 197px;}

 .dentroBoca{
    width: 36px;
    height: 34px;
    background-color: rgb(209, 84, 108);
    border-radius: 50%;
   position: fixed;  
}
#dentroBoca1{ left: 146px; top: 204px;}
#dentroBoca2{ left: 161px; top: 230px;}
#dentroBoca3{ left: 178px; top: 247px;}
#dentroBoca4{ left: 184px; top: 265px;}
#dentroBoca5{ left: 372px; top: 255px;}
#dentroBoca6{ left: 379px; top: 233px;}
#dentroBoca7{ left: 393px; top: 209px;}

 .narizcentro{
    width: 22px;
    height: 21px;
    background-color: rgb(252, 158, 177);
    border-radius: 50%;
   position: fixed;  
}
#narizcentro1{ left: 259px; top: 258px;}
#narizcentro2{ left: 267px; top: 261px;}
#narizcentro3{ left: 267px; top: 276px;}
#narizcentro4{ left: 274px; top: 274px;}
#narizcentro5{ left: 289px; top: 274px;}
#narizcentro6{ left: 296px; top: 276px;}
#narizcentro7{ left: 296px; top: 261px;}
#narizcentro8{ left: 304px; top: 258px;}

 .fosas{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   position: fixed;  
}
#fosas1{ left: 267px; top: 265px;}
#fosas2{ left: 273px; top: 271px;}
#fosas3{ left: 275px; top: 271px;}
#fosas4{ left: 275px; top: 278px;}
#fosas5{ left: 271px; top: 281px;}
#fosas6{ left: 307px; top: 265px;}
#fosas7{ left: 303px; top: 271px;}
#fosas8{ left: 298px; top: 271px;}
#fosas9{ left: 298px; top: 278px;}
#fosas10{ left: 304px; top: 281px;}

.bigotede {
  
  background: transparent;
 border-right: 1px solid rgb(0, 0, 0);    
  border-top: 3px solid rgb(0, 0, 0);   
  border-radius: 0 40px 0 0;        
  position: fixed;  
}
#bigotede1{ width: 55px; height: 30px;left: 196px; top: 213px;}
#bigotede2{ width: 45px; height: 30px;left: 198px; top: 225px;}
#bigotede3{ width: 30px; height: 36px;left: 225px; top: 255px;}


.bigotegra {
  
  background: transparent;
 border-right: 2px solid rgb(0, 0, 0);    
  border-top: 8px solid rgb(0, 0, 0);   
  border-radius: 0 40px 0 0;        
  position: fixed;  
}
#bigotede4{ width: 20px; height: 30px;left: 270px; top: 125px;}
#bigotede5{ width: 30px; height: 36px;left: 260px; top: 150px;}
#bigotede6{ width: 40px; height: 42px;left: 250px; top: 175px;}

.bigotegro {
  background: transparent;
  border-left: 2px solid rgb(0, 0, 0);    
  border-top: 8px solid rgb(0, 0, 0);   
  border-radius: 40px 0 0 0;        
  position: fixed;  
}

#bigotegro4{ width: 20px; height: 30px; left: 290px; top: 125px;}
#bigotegro5{ width: 30px; height: 36px; left: 290px; top: 150px;}
#bigotegro6{ width: 40px; height: 42px; left: 290px; top: 175px;}


.bigoteIz {
  background: transparent;
  border-left: 1px solid rgb(0, 0, 0);     
  border-top: 3px solid rgb(0, 0, 0);   
  border-radius: 40px 0 0 0;        
  position: fixed;  
}
#bigoteIz1{ width: 55px; height: 30px;left: 329px; top: 213px;}
#bigoteIz2{ width: 45px; height: 30px;left: 331px; top: 225px;}
#bigoteIz3{ width: 30px; height: 36px;left: 333px; top: 255px;}


.diente {
    width: 600px;             
  height: 600px;
  background: rgb(231, 231, 231);
     
  position: fixed;  
}
#diente1{ clip-path: polygon(147px 192px, 161px 194px, 152px 214px);}
#diente2{ clip-path: polygon(144px 223px, 151px 235px, 160px 219px);}

#diente3{ clip-path: polygon(170px 210px, 165px 230px, 177px 222px);}
#diente4{ clip-path: polygon(156px 254px, 173px 245px, 166px 265px);}
#diente5{ clip-path: polygon(183px 227px, 194px 238px, 189px 255px);}
#diente6{ clip-path: polygon(208px 260px, 200px 267px, 209px 271px);}
#diente7{ clip-path: polygon(212px 277px, 223px 286px, 216px 297px);}
#diente8{ clip-path: polygon(229px 288px, 240px 300px, 228px 313px);}
#diente9{ clip-path: polygon(243px 302px, 256px 304px, 249px 322px);}
#diente10{ clip-path: polygon(261px 303px, 269px 300px, 264px 309px);}

#diente11{ clip-path: polygon(285px 290px, 290px 295px, 289px 302px);}
#diente12{ clip-path: polygon(295px 298px, 303px 301px, 300px 307px);}
#diente13{ clip-path: polygon(308px 302px, 321px 300px, 315px 320px);}
#diente14{ clip-path: polygon(324px 298px, 335px 285px, 336px 311px);}
#diente15{ clip-path: polygon(341px 284px, 352px 274px, 348px 295px);}
#diente16{ clip-path: polygon(356px 257px, 355px 269px, 364px 265px);}
#diente17{ clip-path: polygon(366px 238px, 375px 223px, 371px 255px);}
#diente18{ clip-path: polygon(378px 217px, 385px 205px, 389px 231px);}
#diente19{ clip-path: polygon(389px 199px, 403px 197px, 398px 215px);}
#diente20{ clip-path: polygon(408px 213px, 417px 224px, 407px 231px);}
#diente21{ clip-path: polygon(395px 230px, 405px 244px, 396px 254px);}
#diente22{ clip-path: polygon(384px 254px, 392px 277px, 379px 279px);}
#diente23{ clip-path: polygon(272px 297px, 278px 292px, 274px 304px);}

.narizlineas {
  width: 22px;
  height: 22px;
  border-top: 2px solid black;
  border-radius: 22px 22px 0 0; 
  background: transparent;
  position: fixed;
 
}
#narizlineas1{ left: 270px; top: 240px;}
#narizlineas2{ left: 270px; top: 235px;}
#narizlineas3{ left: 270px; top: 230px;}
#narizlineas4{ left: 292px; top: 235px;}
#narizlineas5{ left: 292px; top: 240px;}
#narizlineas6{ left: 292px; top: 230px;}


#narizlineas7{ left: 240px; top: 37px;}
#narizlineas8{ left: 240px; top: 32px;}
#narizlineas9{ left: 240px; top: 27px;}
#narizlineas10{ left: 262px; top: 32px;}
#narizlineas11{ left: 262px; top: 37px;}
#narizlineas12{ left: 262px; top: 27px;}

#narizlineas18{ left: 342px; top: 37px;}
#narizlineas13{ left: 320px; top: 32px;}
#narizlineas14{ left: 320px; top: 27px;}
#narizlineas15{ left: 342px; top: 32px;}
#narizlineas16{ left: 320px; top: 37px;}
#narizlineas17{ left: 342px; top: 27px;}



.pelo {
    width: 600px;             
  height: 600px;
  background: rgb(130, 155, 89);
     
  position: fixed;  
}
#pelo1{ clip-path: polygon(117px 135px, 96px 173px, 122px 174px, 99px 192px, 119px 195px, 101px 211px, 122px 206px, 108px 224px, 131px 217px, 118px 238px, 142px 236px, 135px 255px, 154px 256px, 147px 273px, 160px 278px, 156px 291px, 172px 287px, 185px 291px, 181px 317px, 141px 335px, 168px 303px, 118px 325px, 135px 290px, 98px 308px, 121px 280px, 80px 284px, 105px 257px, 59px 271px, 101px 242px, 43px 250px, 92px 226px, 45px 227px, 94px 206px, 34px 215px, 97px 181px, 42px 198px);
 }
 #pelo2{clip-path: polygon(453px 135px, 474px 173px, 448px 174px, 471px 192px, 451px 195px, 469px 211px, 448px 206px, 462px 224px, 439px 217px, 452px 238px, 428px 236px, 435px 255px, 416px 256px, 423px 273px, 410px 278px, 414px 291px, 398px 287px, 385px 291px, 389px 317px, 429px 335px, 402px 303px, 452px 325px, 435px 290px, 472px 308px, 449px 280px, 490px 284px, 465px 257px, 511px 271px, 469px 242px, 527px 250px, 478px 226px, 525px 227px, 476px 206px, 536px 215px, 473px 181px, 528px 198px);
 }

 .orejas {
    width: 600px;             
  height: 600px;
  position: fixed;  
}

#orejas1{ background: rgb(0, 0, 0); clip-path: polygon(61px 106px, 78px 94px, 87px 100px, 88px 108px, 100px 115px, 106px 106px, 136px 96px, 119px 150px);
}
#orejas2{ background: rgb(0, 0, 0); clip-path: polygon(517px 106px, 500px 94px, 491px 100px, 490px 108px, 478px 115px, 472px 106px, 442px 96px, 459px 150px);
}
#orejas3{ background: rgb(255, 255, 255); clip-path: polygon(56px 106px, 71px 107px, 91px 125px, 124px 112px, 124px 177px, 87px 162px, 82px 149px, 54px 136px, 49px 126px, 48px 111px);
}
#orejas4{ background: rgb(255, 255, 255); clip-path: polygon(521px 106px, 506px 107px, 486px 125px, 453px 112px, 453px 177px, 490px 162px, 495px 149px, 523px 136px, 528px 126px, 529px 111px);
}
#orejas5{ background: rgb(241, 157, 189); clip-path: polygon(58px 114px, 72px 120px, 72px 126px, 79px 130px, 91px 132px, 93px 140px, 111px 143px, 125px 135px, 119px 167px, 91px 154px, 88px 145px, 70px 139px, 67px 133px, 58px 125px);
}
#orejas6{ background: rgb(241, 157, 189); clip-path: polygon(518px 114px, 504px 120px, 504px 126px, 497px 130px, 485px 132px, 483px 140px, 465px 143px, 451px 135px, 457px 167px, 485px 154px, 488px 145px, 506px 139px, 509px 133px, 518px 125px);
}

.baseorejas{
    width: 41px;
    height: 41px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#baseorejas1{ left: 102px; top: 78px;}
#baseorejas2{ left: 446px;top: 72px;}
#baseorejas3{ left: 290px;top: 115px;}
#baseorejas4{ left: 73px;top: 87px;}
#baseorejas5{ left: 94px;top: 82px;}
#baseorejas6{ left: 445px;top: 76px;}
#baseorejas7{ left: 467px;top: 82px;}

.sombrablanca {
    width: 600px;             
  height: 600px;
  background: rgb(255, 255, 255);  
  position: fixed;  
}
#sombrablanca1{ clip-path: polygon(123px 109px, 153px 118px, 131px 89px, 166px 113px, 139px 77px, 182px 108px, 159px 71px, 198px 111px, 184px 75px, 217px 120px, 214px 83px, 231px 123px, 234px 125px, 242px 99px, 242px 128px, 229px 145px, 234px 157px, 222px 165px, 153px 132px);
}
#sombrablanca2{clip-path:polygon(444px 109px,414px 118px,436px 89px,401px 113px,428px 77px,385px 108px,408px 71px,369px 111px,383px 75px,350px 120px,353px 83px,336px 123px,333px 125px,325px 99px,325px 128px,338px 145px,333px 157px,345px 165px,414px 132px);}

#sombrablanca3{ clip-path: polygon(217px 44px, 230px 61px, 238px 66px, 232px 35px, 240px 55px, 256px 67px, 253px 30px, 268px 57px, 277px 28px, 285px 51px, 290px 29px, 298px 50px, 316px 24px, 308px 58px, 330px 43px, 316px 64px, 325px 62px, 346px 43px, 334px 68px, 321px 75px, 312px 88px, 251px 88px, 226px 72px);
}
#sombraroja{ background-color: rgb(215, 109, 137);clip-path:polygon(127px 353px,211px 380px,162px 385px,119px 383px,155px 397px,204px 397px, 123px 419px, 211px 413px,142px 453px,182px 448px,219px 430px,177px 466px,200px 461px,229px 437px,218px 474px,206px 494px,214px 517px,219px 489px,234px 480px,242px 447px,259px 450px,256px 485px,240px 519px,255px 530px,254px 506px,264px 495px,281px 458px,204px 358px);
}
#sombraroja1{background-color:rgb(215,109,137);clip-path:polygon(442px 353px,358px 380px,407px 385px,450px 383px,414px 397px,365px 397px,446px 419px,358px 413px,427px 453px,387px 448px,350px 430px,392px 466px,369px 461px,340px 437px,351px 474px,363px 494px,355px 517px,350px 489px,335px 480px,327px 447px,310px 450px,313px 485px,329px 519px,314px 530px,315px 506px,305px 495px,288px 458px,365px 358px);}

.caralineas {
  width: 44px;
  height: 14px;
  border-top: 5px solid black;
  border-radius: 34px 34px 0 0; 
  background: transparent;
  position: fixed;
 
}
#caralineas1{ left: 136px; top: 165px;}
#caralineas2{ left: 176px; top: 170px;}
#caralineas3{ left: 130px; top: 178px;}
#caralineas4{ left: 170px; top: 183px;}

#caralineas5{ left: 403px; top: 160px;}
#caralineas6{ left: 364px; top: 170px;}
#caralineas7{ left: 413px; top: 178px;}
#caralineas8{ left: 370px; top: 183px;}

.cejas {
  width: 74px;
  height: 24px;
  border-top: 8px solid black;
  border-radius: 44px 44px 0 0; 
  background: transparent;
  position: fixed;
 
}
#cejas1{ left: 155px; top: 55px;}
#cejas2{ left: 355px; top: 55px;}
#cejas3{ left: 155px; top: 78px;}
#cejas4{ left: 355px; top: 78px;}

.lineascuerpo {
  width: 74px;
  height: 18px;
  border-top: 11px solid black;
  border-radius: 44px 44px 0 0; 
  background: transparent;
  position: fixed;
 
}
#lineascuerpo1{ left: 85px; top: 355px;}
#lineascuerpo2{ left: 424px; top: 355px;}
#lineascuerpo3{ left: 84px; top: 385px;}
#lineascuerpo4{ left: 425px; top: 385px;}

.lineascuerpogrande {
  width: 94px;
  height: 38px;
  border-top: 13px solid black;
  border-radius: 64px 64px 0 0; 
  background: transparent;
  position: fixed;
 
}
#cejas5{ left: 125px; top: 520px;}
#cejas6{ left: 395px; top: 520px;}
#cejas7{ left: 125px; top: 480px;}
#cejas8{ left: 395px; top: 480px;}
#lineascuerpogrande1{ left: 38px; top: 520px;}
#lineascuerpogrande2{ left: 457px; top:520px;}
#lineascuerpogrande3{ left: 35px; top: 480px;}
#lineascuerpogrande4{ left: 459px; top: 480px;}



