body {
background-color: rgb(230, 239, 255);
}

#lienzo{

    width: 600px;
    height: 600px;
    border: 3px black solid;
    background-color: rgb(203, 148, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carainferior{
    width: 217px;
    height: 217px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#mejillaIz{ left: 105px; top: 106px;}
#mejillaDe{ left: 273px;top: 106px;}

.carasuperior{
    width: 127px;
    height: 127px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#ladoIz1{ left: 120px; top: 42px;}
#ladoDe1{ left: 345px;top: 42px;}
#ladoIz2{ left: 274px; top: 20px;}
#ladoDe2{ left: 200px;top: 20px;}

.cuerposuperior{
    width: 217px;
    height: 217px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo1{ left: 83px; top: 297px;}
#cuerpo2{ left: 283px; top: 297px;}

.cuerpomedio{
    width: 152px;
    height: 152px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo3{ left: 36px; top: 448px;}
#cuerpo4{ left: 403px; top: 448px;}

.cuerpoinferior{
    width: 47px;
    height: 47px;
    background-color: rgb(253, 220, 69);
    border-radius: 50%;
   position: fixed;  
}
#cuerpo5{ left: 19px; top: 553px;}
#cuerpo6{ left: 530px; top: 553px;}

.ovaloojo{
    width: 15px;
    height: 8px;
    background-color: rgb(207, 138, 157);
    border-radius: 50%;
   position: fixed;  
}
#ovalo1{ left: 170px; top: 131px;}
#ovalo2{ left: 220px; top: 157px;}
#ovalo3{ left: 258px; top: 78px;}
#ovalo4{ left: 316px; top: 78px;}
#ovalo5{ left: 351px; top: 157px;}
#ovalo6{ left: 401px; top: 131px;}


.ojo{
    width: 57px;
    height: 51px;
    background-color: rgb(207, 138, 157);
    border-radius: 50%;
   position: fixed;  
}
#ojo1{ left: 353px; top: 114px;}
#ojo2{ left: 266px; top: 60px;}
#ojo3{ left: 177px; top: 114px;}

.pupilagrande{
    width: 42px;
    height: 42px;
    background-color: rgb(66, 129, 36);
    border-radius: 50%;
   position: fixed;  
}
#grande1{ left: 184px; top: 120px;}
#grande2{ left: 273px; top: 65px;}
#grande3{ left: 360px; top: 120px;}

.pupilamedio{
    width: 30px;
    height: 30px;
    background-color: rgb(168, 231, 138);
    border-radius: 50%;
   position: fixed;  
}
#medio1{ left: 190px; top: 125px;}
#medio2{ left: 279px; top: 71px;}
#medio3{ left: 366px; top: 125px;}

.pupilapeque{
    width: 18px;
    height: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   position: fixed;  
}
#peque1{ left: 196px; top: 131px;}
#peque2{ left: 285px; top: 77px;}
#peque3{ left: 372px; top: 131px;}

.baseboca1{
    width: 211px;
    height: 143px;
    background-color: rgb(79, 95, 121);
    border-radius: 50%;
   position: fixed;  
   left: 189px; top: 250px;
}

.baselengua{
    width: 180px;
    height: 139px;
    background-color: rgb(215, 109, 137);
    border-radius: 50%;
   position: fixed;  
   left: 203px; top: 330px;
}

.baseboca2{
    width: 175px;
    height: 73px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   position: fixed;  
   left: 208px; top: 321px;
}
.narizbase{
    
    background-color: rgb(197, 211, 150);
    border-radius: 50%;
   position: fixed;  
}
#narizbase1{ width: 76px; height: 76px;left: 192px; top: 193px;}
#narizbase2{ width: 76px; height: 76px;left: 316px; top: 193px;}
#narizbase3{ width: 52px; height: 52px;left: 226px; top: 243px;}
#narizbase4{ width: 52px; height: 52px;left: 306px; top: 243px;}
#narizbase5{ width: 56px; height: 56px;left: 242px; top: 252px;}
#narizbase6{ width: 56px; height: 56px;left: 286px; top: 252px;}
